<%- include('header') -%>
  <div class="jumbotron">
      <h1>EMCare</h1>
  </div>
  <li>You have just added a new Personal Profile</li>

  <form method="post" action="/showStats">
    <hr>
    <h2>View All Data<h2>
    <input type="submit" value="showAllData" class="btn btn-danger">
  </form>

<%- include('footer') -%>
