<%- include('header') -%>
    <div class="jumbotron">
        <h1>What is EMCare</h1>
        <p>Introducing...</p>
    </div>

    You Entered the following ...<br>

    The URL was: <%= url %>

<%- include('footer') -%>
