<%- include('header') -%>
    <div class="jumbotron">
        <h1 style="font-family:'Optima'; font-weight:bold">EMCare</h1>
        <p>Introducing...</p>
    </div>

    Your comments are <%= comments %> <br>

<%- include('footer') -%>
