<%- include('header') -%>
    <div class="shadow-lg p-3 mb-5 bg-danger rounded">
        <h1 style="font-family:'Optima'; font-weight:bold">Welcome to EMCare</h1>
        <p>We aim to help you monitoring your and your family members' health level!</p>
    </div>
    <ul>
      <li><h2><a href="/myform">THE FORM OF EMCare</a></h2>
    </ul>
<%- include('footer') -%>
