<%- include('header') -%>
    <div class="shadow-lg p-3 mb-5 bg-danger rounded">
        <h1 style="font-family:'Optima'; font-weight:bold">Welcome to EMCare</h1>
        <p>We aim to help you monitoring your and your family members' health level!</p>
    </div>
    <div class="row">
        <div class="col-sm">
          <img src="/images/Heart1.jpeg" width="80%" alt="heart1">
        </div>
        <div class="col">
          <ul>
            <li><h3><a href="/myform">Add Personal File</a></h3>
          </ul>
            <li>Start right away to be part of this community</li>
        </div>
      </div>
      <br>
      <hr>
    <form>
    <div class="row">
      <div class="col-sm">
        <div class="jumbotron">
            <h1 style="font-family:'Optima'; font-weight:bold">Feedback</h1>
            <p>Leave any questions you have here...</p>
        </div>
      </div>
      <div class="col">
        <h2 style="font-family:'Optima'; font-weight:light">Calculate your BMI index!</h2>
        <table class="table table-bordered">
          <tr>
            <td>Height</td>
            <td><input type="text" id="hft" >ft <p></p> <input type="text" id="hin" >in</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td><input type="text" id="weight">lb</td>
          </tr>
          <tr>
            <td>BMI</td>
            <td>
              <output name="x" for="a b" id="bmi"></output>
            </td><br>
          </tr>
        </table>
      </div>
      <div class="col">
        <button onClick="calc()" type="button" class="btn btn-primary">Calculate</button>
        <script>
          function calc(){
            var hft = document.getElementById('hft')
            var hin = document.getElementById('hin')
            var w = document.getElementById('weight')
            var bmi = document.getElementById('bmi')
            bmi.value = ((703*w.value)/(hft.value*12 + hin.value*1)/(hft.value*12 + hin.value*1)).toFixed(2)
          }
        </script>

        <button onClick="erase()" type="button" class="btn btn-primary">Reset</button>
        <script>
          function erase(){
            var hft = document.getElementById('hft')
            var hin = document.getElementById('hin')
            var w = document.getElementById('weight')
            var bmi = document.getElementById('bmi')
            hin.value=""
            hft.value=""
            w.value=""
            bmi.value=""
          }
        </script>

        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

<%- include('footer') -%>
