<%- include('header') -%>
    <div class="shadow-lg p-3 mb-5 bg-success rounded">
        <h1 class="text-light" style="font-family:'Times'; font-size: 55px; font-style: italic">What is EMCare</h1>
        <p>Introducing...</p>
    </div>
<%- include('footer') -%>
