<%- include('header') -%>
    <div class="jumbotron">
        <h1>Login to EMCare</h1>
        <p>Login with Gmail</p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('footer') -%>
