<%- include('header') -%>
    <div class="jumbotron">
        <h1>Login to EMCare</h1>
        <p>Login with Gmail</p>
          <a href="/auth/google" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login with Google</a>      
    </div>

<%- include('footer') -%>
