<%- include('header') -%>
    <div class="jumbotron">
        <h1>Stats</h1>
    </div>
    <ol>
    <% for(i = 0; i<stats.length; i++){  %>
        <li> <a href="/showStats/<%= stats[i]._id %>">
            <%= stats[i].name %></a>
           </li>
    <% } %>
    </ol>
<%- include('footer') -%>
